# Build output
/.stack-work
/dist
/src/*.hi
/src/*.o
/blog

# Cabal sandbox
/.cabal-sandbox
/cabal.sandbox.config

# Editor files
*.swp
*.swo

# Nix build result symlink
/result

# Image intermediate build products
.ninja_log
/images/compressed/*.br
/images/compressed/*.gz

# Fonts, original and processed
/fonts/generated
/fonts/original

# Generated blog output
/out
/docindex/index.rendered.html

# Python virtualenv
/venv
