# Build output
/.stack-work
/dist

# Cabal sandbox
/.cabal-sandbox
/cabal.sandbox.config

# Editor files
*.swp
*.swo

# Fonts, original and processed
/fonts/generated
/fonts/original

# Generated blog output
/out

# Python virtualenv
/venv
