{{include head.html}}
  <body>
    <div id="content" class="archive">
      <header>
        <h1>Writing</h1>
      </header>
      <p>Where my thoughts end up if they stay inside my head for too long.</p>
      {{foreach archive-year}}
        <h2>{{year}}</h2>
        {{foreach post}}
          <h3><a href="{{url}}">{{title-html}}</a></h3>
          <p>{{synopsis-html}} <a href="{{url}}" class="smcp">Read full post</a></p>
        {{end}}
      {{end}}
    </div>
    {{include footer.html}}
  </body>
</html>
