    <footer>
      <span><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Copyleft</a> $year$ Ruud van Asseldonk</span> ·
      <span>Powered by <a href="http://jaspervdj.be/hakyll">Hakyll</a></span>
    </footer>$if(math)$
    <script type="text/javascript">
      window.MathJax = {
        jax: ["input/MathML","output/HTML-CSS"],
        extensions: ["mml2jax.js"],
        config: [],
        messageStyle: "simple",
        showMathMenu: false
      };
    </script>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/2.3-latest/MathJax.js"></script>
    $endif$
  </body>
</html>
