{{include head.html}}
  <body>
    <article>
      <header>
        <h1>Contact</h1>
      </header>
      <p>
        If you’d like to drop me a line,
        you can reach me at my first name at veniogames dot com.
        I read all of my email.
        If you like to be flagged by a few three or four-letter agencies,
        you can encrypt your message using the key below.
        Cheers!
      </p>
      <nav class="smcp">
        <a href="/">About</a>
        <a href="/writing">Writing</a>
        <a href="https://github.com/ruud-v-a">GitHub</a>
        <br>
      </nav>
      <pre><code>(TODO: add PGP key)</code></pre>
    </article>
  </body>
</html>
