<footer>
  <div id="footer">
    <h2>About me</h2>
    <p id="about">
      I love to create beautiful things with elegant code.
      I particularly like low-level optimisation for bare metal performance and systems programming,
      but I also enjoy high-level functional programming.
      I prefer a strong type system over excessive unit testing
      and I prefer common sense over agile development methodologies.
      I am mildly allergic to buzzwords.
      Data should be immutable.
    </p>
    <nav class="smcp">
      <a href="/">About</a><br>
      <a href="/writing">Writing</a><br>
      <a href="https://github.com/ruuda">GitHub</a><br>
      <a href="/contact">Contact</a>
    </nav>
    <p id="notices" class="smcp">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Copyleft</a>
      {{year}} Ruud van Asseldonk
      <span id="breakdot">&middot;</span>
      <a href="https://github.com/ruuda/blog">Source</a>
    </p>
  </div>
</footer>
