<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- TODO: stylesheets? -->
    <link href="/favicon.png" rel="icon" type="image/png">
    <link href="/feed.xml" rel="alternate" type="application/atom+xml">
    <link href="https://ruudvanasseldonk.com{{url}}" rel="canonical">
    <meta charset="utf-8"> <!-- TODO: or do not set it and escape everything? -->
    {{if synopsis}}
    <meta name="description" content="{{synopsis}}">
    {{end}}
    <meta name="author" content="Ruud van Asseldonk">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- TODO: is this still required in 2015? -->
    <style>
      {{include fonts.css}}
    </style>
  </head>
