{{include head.html}}
  <body>
    <div id="content">
      {{include header.html}}
      <header>
        <h1>Ruud van Asseldonk</h1>
      </header>
      <p>
        Hi, I am Ruud.
        I love to create <strong>beautiful things</strong> with <strong>elegant code</strong>.
        I particularly like low-level optimization for bare metal performance and systems programming,
        but I also enjoy high-<wbr>level functional programming.
        Sometimes I write about that.
        I try to write technically interesting posts,
        such as <a href="/2024/a-type-system-for-rcl-part-1-introduction">this series</a>
        about building a typechecker,
        but by far my most popular post
        is <a href="/2023/01/11/the-yaml-document-from-hell">a rant about yaml</a>.
        I am mildly allergic to buzzwords.
      </p>
      <nav class="smcp" id="mid-nav">
        <a href="/writing">Writing</a>
        <a href="https://github.com/ruuda">GitHub</a>
        <a href="https://codeberg.org/ruuda">Codeberg</a>
        <a href="/contact">Contact</a>
      </nav>
    </div>
  </body>
</html>
