{{include head.html}}
  <body>
    <article>
      <header>
        <h1>Ruud van Asseldonk</h1>
      </header>
      <p>
        Hi, I am Ruud.
        I love to create <strong>beautiful things</strong> with <strong>elegant code</strong>.
        I particularly like low-level optimisation for bare metal performance and systems programming,
        but I also enjoy high-<wbr>level functional programming.
        Sometimes I write about that.
        I am mildly allergic to buzzwords.
      </p>
      <nav class="smcp">
        <a href="/writing">Writing</a>
        <a href="https://github.com/ruud-v-a">GitHub</a>
        <a href="/contact">Contact</a>
      </nav>
    </article>
  </body>
</html>
