/* Make sure that subscripts and superscripts do not disrupt the baseline. The
 * fallback fonts for var elements can also disrupt the baseline, fix that.
 * Because these elements are never on their own on a line, I can get away with
 * setting the line height to 0. */
sub, sup, var
{
  line-height: 0;
  font-family: 'Calluna Sans';
}

sub, sup
{
  word-spacing: 0;

  /* Add a little space before superscripts, because the symbol that comes
   * before it is usually in italics, so it needs a bit of correction. In some
   * cases (especially for the number '2'), if the previous character is not
   * italic, this actually makes things worse, but on average it improves the
   * spacing. */
  margin-left: 0.1em;
}

sub
{
  /* Subscripts after italics can move a bit to the left. All but one of the
   * subscripts that are not after an italic happen to be after the
   * double-struck F for my posts, so there there is room as well. The one case
   * where the default margin is right is a trade off. */
  margin-left: -0.1em;
}
