sub, sup
{
  /* Make sure that subscripts and superscripts do not disrupt the baseline. */
  line-height: 1em;
  word-spacing: 0;

  /* Add a little space before superscripts, because the symbol that comes
   * before it is usually in italics, so it needs a bit of correction. In some
   * cases (especially for the number '2'), if the previous character is not
   * italic, this actually makes things worse, but on average it improves the
   * spacing. */
  margin-left: 0.1em;
}

sub
{
  /* Subscripts after italics can move a bit to the left. All but one of the
   * subscripts that are not after an italic happen to be after the
   * double-struck F for my posts, so there there is room as well. The one case
   * where the default margin is right is a trade off. */
  margin-left: -0.1em;
}

.sqrt
{
  border-top: 0.08em solid #456;
  margin-left: -0.04em;
  position: relative;
  top: 0.22em;
}

.sqrt > span
{
  padding-left: 0.14em;
  padding-right: 0.1em;
  position: relative;
  top: -0.22em;
}

.eqn
{
  text-align: center;
  word-spacing: 0.35em;
}

.frac
{
  display: inline-block;
  vertical-align: middle;
}

.numer
{
  border-bottom: 0.08em solid #456;
  display: block;

  /* Compensate for the border to keep everything aligned to the baseline. */
  line-height: 1.32rem;

  /* Add a bit of space between the line and the symbols. */
  margin-top: -0.1em;
  padding-bottom: 0.1em;
}

.sep
{
  margin-right: 1em;
}
