<!DOCTYPE html>
<html>
  <head>
    <title>$title$</title>
    <link href="/style/style.css" rel="stylesheet" type="text/css"/>
    <link href="/favicon.png" rel="icon" type="image/png"/>
    <link href="/feed.xml" rel="alternate" type="application/atom+xml"/>
    <link href="https://ruudvanasseldonk.com$url$" rel="canonical"/>
    <meta charset="utf-8"/>
    <meta name="author" content="Ruud van Asseldonk"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <header>
      <h1>Ruud van Asseldonk</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/archive">Archive</a></li>
        <li><a href="https://github.com/ruud-v-a"><span id="github">Code</span></a>
        <li id="contact"><a href="mailto:ruudva@veniogames.com" rel="author">Contact</a></li>
      </ul>
    </nav>
